* {
    margin: 0;
    padding: 0;
}

.billingMain {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fffbf5;
}

.billingLeftMain {
    border-right: 0.7px solid #B4B4B4;
    width: 60%;
}

.billingLeft {
    width: 85%;
    margin: auto;
}

.billingRgt {
    width: 40%;
}

.cartRgtt {
    width: 100%;
    padding-top: 20px;
}

.backToCart {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin: 20px 0;
    cursor: pointer;
}

.backToCart img {
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}

.backToCart:hover img {
    transform: translateX(-5px);
}

.backToCart p {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.form {
    gap: 10px;
    width: 100%;
    padding: 30px 0;
}

.firstname input,
.newPass input {
    border: 0.7px solid #B4B4B4;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.newPass input {
    cursor: context-menu;
    caret-color: transparent;
}

.newPass p {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: red;
    padding-left: 5px;
}

.firstname select {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    background-color: transparent;
    border: 0.7px solid #B4B4B4;
    outline: none;
}

.firstname p {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: red;
    padding-left: 5px;
}

.additionalInfo {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #363636;
    margin-top: 10px;
}

.cartTotalHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 30px;
    border-bottom: 0.7px solid #b4b4b4;
}

.cartTotalHeadingg {
    padding-bottom: 20px;
}

.cartTotalHeading p {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #454545;
    text-decoration: underline;
    cursor: pointer;
}

.cartTotalHeading h1 {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #454545;
}

.cartTotal p {
    padding: 30px 50px;
}

.cartTotal span {
    padding: 30px 50px;
}

.cartTotall p {
    padding: 20px 50px;
}

.cartTotall span {
    padding: 20px 50px;
}

.cartCheckoutBtn {
    padding: 50px 100px;
    border: none;
    border-bottom: 0.7px solid #b4b4b4;
}

.cartCheckoutBtn button {
    width: -webkit-fill-available;
    padding: 18px 15px;
    border-radius: 7px;
    color: #fffbf5;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    background-color: #98168B;
    border: 1.43px solid #98168B;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.cItemRemove p {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #363636;
}

.cItemImgg {
    width: 86px;
    height: 92px;
    border-radius: 6.5px;
}

.cItemDetailss h2 {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #454545;
}

.cItemDetailss p {
    font-family: Montserrat, sans-serif;
    font-size: 8px;
    font-weight: 500;
    color: #363636;
}

.cItemDetailss {
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cItemm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 345px;
}

.clContentt {
    padding: 9px 0;
    height: 600px;
    border-bottom: 0.7px solid #b4b4b4;
    overflow-y: auto;
}
