* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  
  .cartMain {
    /* border: 1px solid black; */
    width: 100%;
    height: 89vh;
    background-color: #fffbf5;
  }
  
  .cartTop {
    width: 100%;
    display: flex;
  }
  
  .cartLeftMain {
    border: none;
    border-right: 0.7px solid #b4b4b4;
    width: 60%;
  }
  
  .cartLeft {
    width: max-content;
    margin: auto;
    padding: 30px 0px;
    padding-bottom: 0;
  }
  
  .cartLeft h1 {
    font-family: Montserrat;
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    color: #454545;
    padding-bottom: 25px;
    padding-left: 15px;
  }
  
  
  
  .clContent {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 345px;
    overflow: auto; 
    -webkit-overflow-scrolling: touch; 
  }
  

  .clContent::-webkit-scrollbar {
    width: 8px; 
    background-color: transparent; 
  }
  
  .clContent::-webkit-scrollbar-thumb {
    background: linear-gradient(
      145deg,
      #98168B,
      70%,
      #98168B
    ); 
    border-radius: 10px; 
  }
  
  .clContent::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      145deg,
      #98168B,
      70%,
      #98168B
    ); 
  }
  
  .cItem1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 20px;
  }
  
  .cItem {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    width: 484px;
  }
  
  .cItemImg {
    width: 128px;
    height: 138px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
  }
  
  .cItemImg img {
    width: 90%;
    height: 90%;
  }
  
  .cItemRemove img {
    width: 11px;
    transition: 0.3s ease-in-out;
  }
  
  .cItemRemove:hover img {
    transform: rotate(180deg);
  }
  
  .cItemRemove p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    cursor: pointer;
  }
  
  .cItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 138px;
  }
  
  .cItemDetails h2 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #454545;
  }
  
  .cItemDetails p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: #363636;
  }
  
  .cItemDetails .price {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #98168B;
    text-align: right;
  }
  
  /* .clContinueShop:hover img{
      transform: translateY(5px);
  
  } */
  .cartRgt {
    width: 40%;
    padding-top: 30px;
    /* border: 1px solid purple; */
  }
  
  .cartTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 0.7px solid #b4b4b4;
  }
  
  .cartTotal p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #454545;
    padding: 50px 0;
    padding-left: 100px;
  }
  
  .cartTotal span {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    color: #98168B;
    padding: 50px 0;
    padding-right: 100px;
  }
  
  .cartTotalHeading h1 {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    color: #454545;
    padding: 0 100px;
    padding-bottom: 20px;
    border: none;
    border-bottom: 0.7px solid #b4b4b4;
  }
  
  .cartCheckoutBtn {
    padding: 50px 100px;
    border: none;
    border-bottom: 0.7px solid #b4b4b4;
  }
  
  .cartCheckoutBtn button {
    width: -webkit-fill-available;
    padding: 18px 15px;
    border-radius: 7px;
    color: #fffbf5;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    background-color: #98168B;
    border: 1.43px solid #98168B;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  
  .cartCheckoutBtn button:hover {
    box-shadow: #98168B 1.95px 1.95px 2.6px;
    /* box-shadow: #98168B 5px 5px, #98168B 10px 10px, #98168B 15px 15px, #98168B 20px 20px, #98168B 25px 25px; */
    background-color: transparent;
    /* border: none; */
    color: #454545;
  }
  
  .cartBottom {
    margin-top: 30px;
    padding: 0 150px;
  }
  
  .clContinueShop {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    cursor: pointer;
  }
  
  .clContinueShop img {
    transition: 0.2s ease-in-out;
  }
  
  .clContinueShop:hover img {
    transform: translateX(-5px);
  }
  